html {
  box-sizing: border-box;
  font-size: 62.5%; /* Mostly equivalates to 10px but allows users accessibility zoom settings to work*/
  /* font-size: 10px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Try to keep your margins going in one direction to avoid margin collapase or grounding. I switch all the top margins off to avoid this issue. */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
address,
article,
aside,
details,
dialogue,
fieldset,
figcaption,
figure,
footer,
form,
header,
hr,
main,
nav,
pre,
section,
table,
p {
  margin-top: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
  /* You MUST make sure that links stand out from nomal text though...*/
}

/*
    a:hover,
    a:focus {
      text-decoration: underline;
    }
  */
img {
  /* This means that it can be less than 100% of the width of its parent IF the image is INTRINSICALLY smaller */
  max-width: 100%;
  height: auto;
  /* 'auto' is the initial value for height BUT for images (and other elements which have an intrinic height) that is not the case. To make an image responsive you set one dimension (usually width) to [max-]width: 100%; and the other to 'auto' to ensure it keeps aspect ratio. 'auto' basically tells the browser to decide. */
  vertical-align: middle;
  /* minor vertical centering. Works for images IF there is a baseline (i.e. they are displayed inline or inline-block) */
}

/* Because we us <ul>s for lists that we don't always want bulletted. */
ul {
  list-style: none;
  padding-left: 0;
}

/* To make actual bulletted lists */
ul.typographic {
  list-style: initial;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

/* stops icons being the target of JS click events */
/* inherits the font */
input,
button,
textarea,
select {
  font: inherit;
}

/*****************************
* ACCESSIBILITY
******************************/
/* For 'accessibility text'. If your button only has an image inside it that isn't good for accessibility. Put a span inside there and give it this class and put some descriptive text for what the button does into the span. */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  clip-path: auto;
  -webkit-clip-path: auto;
  white-space: normal;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  min-height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  height: auto;
  min-height: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}

header {
  text-align: center;
}
header h1 {
  font-size: 3.5rem;
  padding: 3rem 1rem 0 1rem;
  color: #fff;
}

.rotating {
  display: inline-block;
  -webkit-animation: rotating 1.5s linear infinite;
          animation: rotating 1.5s linear infinite;
}
.rotating i {
  font-size: 12rem;
}

@-webkit-keyframes rotating {
  0% {
    transform: rotate(0deg) scale(1);
    color: rgba(255, 255, 255, 0.5);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
    color: rgba(255, 255, 255, 0.85);
  }
  100% {
    transform: rotate(360deg);
    color: rgba(255, 255, 255, 0.5);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg) scale(1);
    color: rgba(255, 255, 255, 0.5);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
    color: rgba(255, 255, 255, 0.85);
  }
  100% {
    transform: rotate(360deg);
    color: rgba(255, 255, 255, 0.5);
  }
}
#currentWeather {
  color: #fff;
  text-align: center;
}

.locating {
  font-size: 4rem;
}

.form_holder {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.form_holder .btn {
  color: #fff;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: inherit;
  font-size: 2rem;
  padding: 0.4rem 2rem;
  margin: 2rem 0;
  transition: all 0.5s;
  cursor: pointer;
}
.form_holder .btn:hover {
  background-color: rgba(191, 191, 191, 0.25);
}

.container {
  background-color: transparent;
  max-width: 1400px;
  margin: 0 auto;
}

input.city_input {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  text-align: center;
  width: 90%;
}

.weather_card {
  overflow: hidden;
  margin: 0 auto 2rem auto;
  width: 90%;
  color: #fff;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem;
  text-align: center;
}
.weather_card .weather_title {
  text-align: center;
  font-size: 3rem;
}
.weather_card-body {
  display: flex;
}
.weather_card .icon {
  margin: 0;
}
.weather_card .icon span {
  margin: 0 2rem;
}
.weather_card .icon i {
  position: relative;
  top: 0.5rem;
  left: 0px;
  font-size: 3rem;
  margin-right: 1rem;
}

.current .weather_card-body {
  align-items: center;
  flex-direction: column;
}
.current .weather_temp {
  font-size: 6rem;
  margin-bottom: 2rem;
}
.current .weather_description {
  font-size: 3rem;
  text-transform: capitalize;
}

.forecast_today .weather_card-body,
.forecast_daily .weather_card-body {
  overflow-x: auto;
  gap: 3.6rem;
}
.forecast_today .weather_card-body .weather_temp,
.forecast_daily .weather_card-body .weather_temp {
  font-size: 3rem;
  margin-bottom: 0;
}
.forecast_today .weather_card-body .day,
.forecast_daily .weather_card-body .day {
  font-size: 1.8rem;
}
.forecast_today .weather_card-body .weather_info,
.forecast_daily .weather_card-body .weather_info {
  min-width: 8rem;
}

footer {
  padding: 3rem 1rem;
  color: #fff;
  text-align: center;
}
footer p {
  margin: 0;
}
footer p i {
  font-size: 2.5rem;
}

.error {
  font-size: 4.5rem;
}

@media screen and (min-width: 540px) {
  .container .weather_card {
    width: 90%;
  }
}
@media screen and (min-width: 800px) {
  .container h1 {
    font-size: 6rem;
  }
  .container .form_holder .btn {
    margin: 4rem 0;
  }
  .container input.city_input {
    width: 40%;
  }
  .container .weather_card {
    width: 80%;
    margin: 0 auto 5rem auto;
  }
  .container .weather_card-body {
    flex-direction: row;
  }
  .container .current .weather_card-body {
    justify-content: space-around;
  }
  .container .current .weather_temp {
    font-size: 8rem;
  }
  .container .forecast_today .weather_card-body,
.container .forecast_daily .weather_card-body {
    justify-content: space-around;
  }
  .container .forecast_today .weather_temp,
.container .forecast_daily .weather_temp {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .container .forecast_today .weather_info,
.container .forecast_daily .weather_info {
    width: 20%;
  }
  .container .forecast_today .weather_description,
.container .forecast_daily .weather_description {
    font-size: 1.8rem;
    text-transform: capitalize;
  }
}/*# sourceMappingURL=style.css.map */